/*
@author : Antoine PAUNET
Version : 0.6 Beta
Date    : 24/01/25
--------------------
File : main file
*/

.BackGround
{
    display: grid;
    justify-items: center;
    align-items: start;
	width: 100%;
    height: 98vh;
	border: 2px solid black;
    background-image: url(/public/images/backGround.jpg);
}

.Piles
{
}

#canvaFrame
{
    display: block;
    box-sizing: border-box;
}